[include mainsail.cfg]
[include common.cfg]

[fan]
pin: P2.3 

[mcu]
serial: #TODO

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 10
max_z_accel: 100

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[safe_z_home]
home_xy_position: 115, 115
speed: 50
z_hop: 10
z_hop_speed: 5

########################################
# Stepper configuration
# steps / mm : X80 Y80 Z400 E93
########################################

[stepper_x]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
microsteps: 64
rotation_distance: 160
endstop_pin: ^P1.29
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
microsteps: 64
rotation_distance: 160
endstop_pin: ^P1.28
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
microsteps: 64
rotation_distance: 32
endstop_pin: ^P1.27
position_endstop: 0.0
position_max: 250

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 64
rotation_distance: 137.634
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

########################################
# tmc2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: P1.10
run_current: 0.800

[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 0.800

[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 0.650

[tmc2209 extruder]
uart_pin: P1.4
run_current: 0.800

########################################
# EXP1 / EXP2 (display) pins
########################################
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

########################################
# Display
# https://github.com/Klipper3d/klipper/issues/2231
########################################

[display]
lcd_type: emulated_st7920
encoder_pins: ^EXP2_3, ^EXP2_5
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP1_3
spi_software_sclk_pin: EXP1_5
en_pin: EXP1_4
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
spi_speed: 1000000

# #display_group:
menu_timeout: 1

########################################
# Bed mesh
########################################
[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 37.75, 10
mesh_max: 190, 220
probe_count: 5,5
mesh_pps: 2, 3
algorithm: bicubic
bicubic_tension: 0.2
